<div class="form-horizontal">
  <legend>Registration</legend>
    {{#if errorMsg}}
      <div class="alert alert-error">
          {{errorMsg}}
      </div>
    {{/if}}
  <div class="control-group">
    <label class="control-label" for="email">Name</label>
    <div class="controls">
        {{view Em.TextField valueBinding="name" id="name" action="register"}}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      {{view Em.TextField valueBinding="email" id="email"}}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="password" type="password" id="password"}}
      <br/>
      (at least 6 chars)
    </div>

  </div>
  <div class="control-group">
    <label class="control-label" for="password_confirmation">Confirm Password</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="password_confirmation" type="password" id="password_confirmation"}}
    </div>
  </div>
  <div class="form-actions">
    <input {{action 'register'}} type="submit" class="btn btn-primary" value="Register" />
    <input {{action 'cancel'}} type="submit" class="btn" value="Cancel" />
  </div>
</div>
