!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Ember Rails Devise"
      %meta{:content => content_for?(:description) ? yield(:description) : "Ember Rails Devise", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    = yield

  :javascript
    App.ready = function() {
      App.initApp(jQuery.parseJSON('#{current_user_json}'))
    }